# Application Configuration
NODE_ENV=development
PORT=3000
WEB_BASE_URL=http://localhost:5173

# Database Configuration (MySQL)
DB_HOST=mysql
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=pos_system

# JWT Configuration
JWT_SECRET=tu_secreto_jwt_aqui_para_desarrollo 